/* Sign In From CSS */

#SignInFormBody {
  min-height: 89vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./Images/LogIn.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

#FormContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background: transparent;
  border-radius: 20px;

  backdrop-filter: blur(15px);

  padding: 2%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#SignInForm {
  width: 75%;
  color: white;
  font-size: 0.9em;
}
.h6 {
  font-size: 1em !important;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #009e42;
  }
  50% {
    box-shadow: 0 0 0.8em 0 #009e42;
  }
}
#TotalPrice {
  animation: glow 1.4s linear infinite;
  background-color: #0fbe58;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Log In From CSS */
#Form {
  height: auto !important;
  width: 50%;
}
#LogInFormBody {
  max-height: 100vh;
  min-height: 100vh;
  background: url(./Images/LogIn.jpg) no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

#LoginForm {
  color: white;
  padding: 10% 15% 15% 15%;

  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.submitButtom:active {
  transform: scale(0.8);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#FoodImg {
  width: 100%;
  height: 100%;
}
#FilterContainer {
  padding-top: 2%;
}

#Filter {
  position: fixed;
  width: 23vw;
  z-index: 1;
}

#Card {
  transition: 0.3s ease-in-out;
}
#Card:hover {
  transform: scale(1.01);
  box-shadow: 2px 5px 15px rgb(110, 110, 110);
}
#root {
  height: 100vh;
}

.customCart {
  overflow-y:auto;
  position: fixed;
  width: 23vw;
  z-index: 1;
  height: 85%;
  right: 0;
  
}
.customInsideCart{
position: relative;
right: 20;
}

#FoodPrice {
  margin: 0;
}
#FoodItemDeleteIcon:active {
  transform: scale(0.8);
}

.quantityButton:active {
  transform: scale(0.8);
}
#Checkout:active {
  transform: scale(0.8);
}
.FoodFilterButton:active {
  transform: scale(0.8);
}


.RestaurantImage{
  height: 30vh;
  width: 100%;
}
.Restaurant:hover {
  transform: scale(1.01);
  box-shadow: 2px 5px 15px rgb(110, 110, 110);
}
.Restaurant {
  transition: 0.3s ease-in-out;
}
body {
  background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 760px) {
  #Filter {
    position: relative;
    font-size: medium !important;
    margin: 2vh;
    width: 90%;
  }
  .customCart {
    display: flex !important;
    justify-content: center!important;
    position: relative !important;
    font-size: medium !important;
    margin: 2vh;
    width: 90%;
    /* border: 5px solid red */
  }
  
}


.pagination {
  display: flex !important; 
  transition: 0.2s ease-in-out;
}

/* Pagination */
.pagination li a{
  margin: 0px 0.05rem;
  /* padding: 6px 14px; */
  /* padding: 0.375em 0.875rem; */
  text-decoration: none;
  border: 1px solid #ddd;
}
.pagination li{
  transition: 0.2s ease-in-out;
  margin: 0px 0.05rem;
}
.pagination li a {
  padding: 0.375em 0.875rem;

  color: black;
  text-decoration: none;
}

.pagination li.active a{
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination li:hover:not(.active) a{
  background-color: #ddd;
}

.pagination li:hover {
  transform: translate(0, -0.2rem);
}

.pagination li:not(.previous, .next) a{
  border-radius: 5px;
}


.pagination li.previous a{
  /* background-color: red; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 5px;
}

.pagination li.next a{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 5px;
}


/* AboutUs Css */

.content{
  min-height: 73.2vh;
}


/* No Data Found CSS */
.NoData{
  height: 75vh;
}


.Loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}